#banner {
  position: relative
  margin-left: 272px
}

.cut-origin {
  margin-left: -643px
}

.cut-medieval {
  margin-left: -550px
}

.cut-cmc {
  margin-left: -451px
}

.cut-fantasy {
  margin-left: -353px
}

.cut-mars {
  margin-left: -247px
}

.cut-western {
  margin-top: 20px
  margin-left: -148px
}

.snow {
  position: absolute
  margin-top: 0px
  margin-left: -600px
  height: 50px

  -webkit-animation: winter 1s linear infinite
}


[class^="cut"] {
  top: 8px
  position: absolute
}

@-webkit-keyframes winter {
  0% { bottom: 0px }
  100% { bottom: -50px }
}