/* Clonkspot CSS */

@import "nib"
@import "lib/variables"

html {
  background: #B3B3B3 url(/images/bg.jpg) no-repeat
  background-position: 50% 0
}

body {
  font-family: Arial, sans-serif
  font-size: 16px
  line-height: 24pt
  color: #212121

  width: mainWidth
  background-color: white
  margin: 0 auto
  text-align: left
  position: relative
}

.content {
  margin: 20px auto
  margin-top: 42px
  padding: 0 30px
}

.smalltext, small {
  font-size: 13px
  line-height: 18px
}

h1 {
  font-family: Arial, sans-serif
  font-size: 36px
}

h2 {
  font-family: Arial Black, Arial, sans-serif
  font-size: 20px
}

h3 {
  font-family: Arial, sans-serif
  font-size: 20px
}

h4 {
  font-family: Arial, sans-serif
  font-size: 20px
  font-style: regular
  color: #515050
}

h5 {
  font-family: Arial, sans-serif
  font-size: 13px
}

.specialtext {
  line-height: 30px
}

.ExternalButton {
  box-shadow: inset 0px 0px 3px 0px #ffffff
  background-color: #87d969
  background-image: linear-gradient(#87d969 5%, #61b346 100%)
  border-radius: 4px
  border: 1px solid #74a67b
  display: inline-block
  color: #ffffff
  font-family: Rockwell, Times New Roman, serif
  font-size: 16px
  padding: 9px 33px
  text-decoration: none
  user-select: none

  &:hover {
    background-color: #61b346
    background-image: linear-gradient(#91dc77 5%, #87d969 100%)
  }

  &:active {
    position: relative
    top: 2px
  }
}

/*Links*/
a:link {color: #ce0400; text-decoration: none;}
a:visited {color: #ce0400;}
a:hover {color: #e55a57;}
a:active {color: #ce0400;}

a.buttonlink:link {color: white; text-decoration: none;}
a.buttonlink:visited {color: white;}
a:buttonlink:hover {color: white;}
a:buttonlink:active {color: white;}

@font-face { font-family: Rockwell; src: url('Rockwell_Bold.ttf'); }
