/* Home page */

@import "lib/variables"

#home {
  margin: 0
  padding: 0

  sliderWidth = 620px
  sliderHeight = 390px
  #layerslider {
    width: sliderWidth
    height: sliderHeight

    p {
      background-color: white
      font-weight: bold
      font-size: 18px
      padding: 5px 10px
    }
  }
}
