/* Home page */

@import "nib"
@import "lib/variables"

#home {
  position: relative
  margin: 0
  padding: 0

  sliderWidth = 620px
  sliderHeight = 388px
  #layerslider {
    width: sliderWidth
    height: sliderHeight

    p {
      background-color: white
      font-weight: bold
      font-size: 18px
      padding: 5px 10px
    }
  }

  .newsfeed {
    absolute: top 0 right 0
    width: mainWidth - sliderWidth
    height: sliderHeight
    a {
      red = #CF0401
      display: block
      box-sizing: border-box
      width: 100%
      height: (@height / 4)
      color: white !important
      text-decoration: none !important
      background-color: #3A3A3A
      background-image: url(/images/stream_iconarea.png)
      background-repeat: no-repeat
      background-position: 100% 0
      border-bottom: 6px solid red
      &:hover {
        background-image: none
        background-color: red
      }

      img {
        float: right
        margin-right: 10px
        margin-top: 16px
      }
      div {
        relative: top 16px left 15px
        > * {
          display: block
        }
      }
      b {
        font-size: 20px
      }
    }
  }
}

#layerslider p {
  background-color: #fff;
  font-weight: bold;
  font-size: 17px;
  padding: 5px 10px;
}
