/* Layout */

@import "nib"
@import "lib/variables"
@import "lib/mixins"

header {
  // Import the main styles which might not be on the body.
  main-styles()

  .topimg, nav > div {
    width: mainWidth
    margin-left: auto
    margin-right: auto
    position: relative
  }

  .topimg {
    margin-bottom: -10px
  }

  .logo {
    absolute: top 27px left 20px
  }

  .icon {
    position: absolute
    top: 60px

    &.twitter {
      right: 70px
    }

    &.youtube {
      right: 30px
    }
  }

  .language {
    absolute: top 0px left 830px
    font-size: 13px
  }

  a:link, a:visited {
    color: #353535
    text-decoration: none
  }

  nav {
    nav-height = 89px
    height: nav-height

    display: flex
    align-items: center

    background: #D4D4D4
    border-top: 2px solid #696969

    white-space: nowrap

    .headeritem {
      position: relative
      height: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      &:first-child {
        flex: 0 0 100px
        padding-top: 10px
      }
    }

    a {
      &.active, &:hover {
        color: csRed !important
      }
      b {
        font-family: "Arial black", Arial, sans-serif
        font-size: 16px
      }
      small {
        display: block
        margin-top: -16px
        font-size: 10px
        line-height: inherit
      }
    }

    .sub {
      display: none
      height: 100%
      
      a {
        transition: transform 0.5s
      }

      trans = 15px
      a:nth-child(1) {
        transform: translateY(trans)
      }
      a:nth-child(2) {
        transform: translateY((trans * -1))
      }
    }

    .active {
      > a, small {
        display: none
      }
      .sub {
        display: flex
        justify-content: center
        flex-direction: column

      }
    }

    .active-anim {
      a {
        transform: translateY(0) !important
      }
    }
    
  }

  .twitch {
    background-color: csRed
    font-weight: bold
    text-align: center
    display: none

    a:link, a:visited {
      color: white
    }
  }
}

footer {
  // Import the main styles which might not be on the body.
  main-styles()

  padding-left: 50px
  height: 50px
  line-height: @height
  background-color: #545454
  a:link, a:visited {
    font-size: 80%
    color: #cecece
    text-decoration: none
  }
  a:hover {
    color: white
  }
}


