/* clonkspot css*/

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24pt;
  color: #212121;
}

.pagewidth {
  width: 1006px;
  background-color: white;
  margin: 20px auto;
  text-align: left;
  position: relative; 
}

#logo {
  margin-top: -100px;
}

#content {
  position: relative;
  width: 1006px;
  background-color: white;
  margin: 20px auto;
  margin-top: 42px;
  text-align: left;
  position: relative; 
}

#twitter {
  position: absolute;
  top: 80px;
  left: 1359px;
  z-index: 1;
}

#youtube {
  position: absolute;
  top: 80px;
  left: 1400px;
  z-index: 1;
}

#language{
  position: absolute;
  top: 24px;
  left: 1291px;
  z-index: 2;
}

#badgetmp{
  position: absolute;
  margin-top: 67px;
  margin-left: 250px;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 36px;
}

h2 {
  font-family: Arial Black, Arial, sans-serif;
  font-size: 20px;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

h4 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-style: regular;
  color: #515050;
}

h5 {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.specialtext {
  line-height: 30px;
}

.smalltext {
  font-size: 13px;
  line-height: 18px;
}


.ExternalButton {
  -moz-box-shadow: inset 0px 0px 3px 0px #ffffff;
  -webkit-box-shadow: inset 0px 0px 3px 0px #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0px 0px 3px 0px #ffffff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #87d969), color-stop(1, #61b346) );
  background: -moz-linear-gradient( center top, #87d969 5%, #61b346 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87d969', endColorstr='#61b346');
  background-color: #87d969;
  border-radius: 4px;
  border: 1px solid #74a67b;
  display: inline-block;
  color: #ffffff;
  font-family: Rockwell, Times New Roman, serif;
  font-size: 16px;
  padding: 9px 33px;
  text-decoration: none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.ExternalButton:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #91dc77), color-stop(1, #87d969) );
  background: -moz-linear-gradient( center top, #91dc77 5%, #87d969 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91dc77', endColorstr='#87d969');
  background-color:#61b346;
}

.ExternalButton:active {
  position: relative;
  top: 2px;
}

/*Links*/
a:link {color: #ce0400; text-decoration: none;}
a:visited {color: #ce0400;}
a:hover {color: #e55a57;}
a:active {color: #ce0400;}

a.buttonlink:link {color: white; text-decoration: none;}
a.buttonlink:visited {color: white;}
a:buttonlink:hover {color: white;}
a:buttonlink:active {color: white;}

@font-face { font-family: Rockwell; src: url('Rockwell_Bold.ttf'); }
