/* Comics */
#comic {
  text-align: center;
}
#comic nav .dummy {
  display: inline-block;
  width: 30px;
}
#comic .archive {
  text-align: left;
}
#comic .archive ol {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
#comic .archive ol li {
  margin-left: 2em;
}

/* Community */
#community {
  position: relative;
}
#community #quota {
  position: relative;
  top: 0px;
  background-image: url("../images/community/combg.jpg");
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1006px;
  height: 363px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}
#community #quotatext {
  color: #0f1b4b;
  text-shadow: 0 0 5px #fff;
  position: absolute;
  top: 2px;
  width: 480px;
  z-index: 3;
}
#community #imgcommunity {
  position: absolute;
  top: 20px;
  left: 610px;
  -webkit-animation: spin 550s linear infinite;
  -moz-animation: spin 550s linear infinite;
  -o-animation: spin 550s linear infinite;
  -ms-animation: spin 550s linear infinite;
  animation: spin 550s linear infinite;
  z-index: 2;
}
#community #combg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#community #projects {
/*img {border: 1px solid #101010}*/
  position: relative;
  margin-top: 30px;
}
#community .bigprojectcontainer {
  width: 384px;
  height: 384px;
  background: #000;
  position: relative;
}
#community .smallprojectcontainer1 {
  width: 260px;
  height: 182px;
  position: absolute;
  top: 82px;
  left: 406px;
}
#community .smallprojectcontainer2 {
  width: 260px;
  height: 182px;
  position: absolute;
  top: 282px;
  left: 406px;
}
#community .smallprojectcontainer3 {
  width: 260px;
  height: 182px;
  position: absolute;
  top: 82px;
  left: 684px;
}
#community .smallprojectcontainer4 {
  width: 260px;
  height: 182px;
  position: absolute;
  top: 282px;
  left: 684px;
}
#community .bigprojectimg {
  width: 100%;
}
#community #overlaybig {
  position: absolute;
  top: 0;
  left: 0;
  height: 384px;
  width: 384px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  display: table;
}
#community #overlaybig:hover {
  background: #ce0400;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
#community #overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 182px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  display: table;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
#community #overlay:hover {
  background: #ce0400;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #fff;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
}
#community #row {
  display: table-row;
  vertical-align: middle;
}
#community #cell {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}
#community #cellbig {
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
}
#community #Timeline {
  margin-top: 50px;
  position: relative;
}
#community #Spotlight {
  margin-top: 40px;
  position: relative;
}
#community #externalLinks {
  position: absolute;
  left: 684px;
  top: -16px;
}
#community #externalLinks a:link,
#community #externalLinks a:visited {
  display: block;
  font-weight: bold;
  color: #000;
  background-color: rgba(200,200,200,0.5);
  width: 214px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  margin-bottom: -2px;
}
#community #externalLinks a:hover,
#community #externalLinks a:active {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  background-color: #434343;
  border-bottom: 0px;
}
#community #externalLinks ul {
  padding: 0px;
  margin: 0px;
  width: 100px;
}
#community #externalLinks li {
  padding-left: 0px;
  display: inline;
}
.aWebsite,
.aWebsite_alone,
.aMiniblog,
.aMiniblog_alone {
  font-weight: bold;
  background-color: #fff;
  padding: 6px 15px;
  color: #fff;
  display: inline-block;
  -webkit-box-shadow: 0px 2px 0px 0px #910000;
  box-shadow: 0px 2px 0px 0px #910000;
}
.aWebsite {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.aMiniblog {
  margin-left: 2px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.aMiniblog_alone,
.aWebsite_alone {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#Timeline {
  position: relative;
  top: -22px;
  width: 946px;
  margin: 0px auto;
  background-image: #f00;
}
#Header {
  position: relative;
}
#Splash {
  width: 300px;
  position: absolute;
  left: 690px;
  top: 20px;
}
#Gif {
  position: absolute;
  top: 61px;
  left: 210px;
}
#Shorttext {
  position: relative;
  width: 660px;
}
#GraphicsPic {
  width: 200px;
}
#GraphicsText {
  position: absolute;
  top: 0px;
  left: 315px;
  width: 350px;
}
#ScriptPic {
  position: relative;
  top: 0px;
  left: 380px;
}
#ScriptText {
  position: absolute;
  top: 0px;
  width: 365px;
}
#ScenarioText {
  position: absolute;
  top: -20px;
  left: 235px;
}
#ScenarioPic {
  position: relative top 0px;
  height: 500px;
}
#ScenarioText2 {
  position: absolute;
  top: 230px;
  width: 210px;
}
#SoundText {
  position: absolute;
  top: -35px;
  left: 315px;
  width: 345px;
}
.Block {
  position: relative;
}
#Chat {
  position: relative;
  margin-top: 50px;
}
#Chat h2 {
  cursor: pointer;
}
#Sidebar {
  padding-left: 0px;
  padding-right: 15px;
  margin-top: 15px;
  width: 250px;
  position: absolute;
  right: 0px;
  top: -42px;
  background-color: #e9ddd1;
  border-style: solid;
  border-width: 12px 12px 12px 12px;
  -webkit-border-image: url("../images/dev/border.png") 12 12 12 12 repeat;
  -moz-border-image: url("../images/dev/border.png") 12 12 12 12 repeat;
  -o-border-image: url("../images/dev/border.png") 12 12 12 12 repeat;
  border-image: url("../images/dev/border.png") 12 12 12 12 fill repeat;
  background-image: url("../images/dev/sidebartex.jpg");
  background-repeat: no-repeat;
  background-position: 0 100%;
}
#Sidebar li {
  margin: 0px;
}
#Sidebar ul,
#Sidebar li {
  list-style: none;
  padding: 0px;
}
#Sidebar h6 {
  text-shadow: 0px 0px 5px #fff;
}
#Sidebar p {
  padding-left: 15px;
}
.buttonsidebar {
  display: inline-block;
  margin: 5px;
  padding: 6px 20px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px -1px 0px 0px #49322a, 0px 2px 0px 0px #f5f1ec;
  box-shadow: 0px -1px 0px 0px #49322a, 0px 2px 0px 0px #f5f1ec;
  background-color: #916453;
  z-index: 2;
}
.buttonsidebar a:link,
.buttonsidebar a:visited,
.buttonsidebar a:active {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 1px #20130e;
  border-bottom: 0px;
}
.buttonsidebar:hover {
  background-color: #87d969;
  -webkit-box-shadow: 0px -2px 0px 0px #f5f1ec, 0px 1px 0px 0px #49322a;
  box-shadow: 0px -2px 0px 0px #f5f1ec, 0px 1px 0px 0px #49322a;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
#dokulink:before {
  content: url("../images/dev/doku.png");
  padding-right: 3px;
  float: left;
  margin: 5px;
  width: 20px;
  height: 18px;
}
#Tutorials {
  margin-left: 15px;
}

#games {
  background-color: #3a3a3a;
}
#games .game-list a {
  height: 112px;
  display: -webkit-flex;
  display: flex;
}
#games .game-list img {
  width: 150px;
}
#games .game-list .game-info {
  padding-left: 16px;
}
#games .game-list h2,
#games .game-list p {
  margin: 0.5em 0;
}
#games .game-list p {
  line-height: 18px;
}
#games .game-list .running {
  opacity: 0.7;
}
#games .game-list .running img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#games .game-list .running:not(.lzb) {
  cursor: not-allowed;
}
#games .game-list .fa-lock {
  display: none;
}
#games .game-list .pw .fa-lock {
  display: inline-block;
  margin-left: 0.5em;
}
#games .status {
  padding: 0 30px;
  color: #fff;
}
#games .status p {
  margin: 0;
  font-size: 12px;
}
#games .status > i {
  display: none;
  float: right;
  margin-top: 0.5em;
}
#games .status.connecting .connecting {
  display: block;
}
#games .status.connected .connected {
  display: block;
}
#games .status.disconnected .disconnected {
  display: block;
}
#games .status .notifications ul {
  margin: 0;
}

/* Home page */
#home {
  position: relative;
  margin: 0;
  padding: 0;
}
#home #sliderarea {
  width: 620px;
  height: 388px;
  background-color: #3a3a3a;
}
#home #sliderarea #layerslider {
  width: 620px;
  height: 388px;
}
#home #sliderarea p {
  background-color: #fff;
  font-weight: bold;
  font-size: 17px;
  padding: 5px 10px;
  white-space: nowrap;
}
#home [ng-cloak] {
  display: none !important;
}
#home .news-admin {
  position: relative;
  color: #fff;
}
#home .news-admin label {
  display: block;
  font-weight: bold;
}
#home .news-admin .import {
  position: absolute;
  top: 0;
  right: 0;
  width: 310px;
  height: 388px;
  overflow: auto;
}
#home .news-admin .import ul {
  margin: 0;
  padding-left: 20px;
}
#home .news-admin .import li {
  cursor: pointer;
}
#home .newsfeed {
  position: absolute;
  top: 0;
  right: 0;
  width: 386px;
  height: 388px;
}
#home .newsfeed a {
  height: 97px;
  background-image: url("/images/stream_iconarea.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
#home .newsfeed a:hover {
  background-image: none;
}
#home .newsfeed a img {
  float: right;
  margin-right: 10px;
  margin-top: 16px;
}
#home .newsfeed a div {
  position: relative;
  top: 16px;
  left: 15px;
}
#home .newsfeed a div > * {
  display: block;
}
#home .newsfeed a b {
  font-size: 20px;
}
#home .download {
  height: 300px;
  padding-left: 50px;
}
#home .download > h2 {
  margin-bottom: 0;
}
#home .download > p {
  margin-top: 0;
  margin-bottom: 0.5em;
}
#home .download .buttons a {
  display: block;
  float: left;
  width: 140px;
  height: 140px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px #371a1a;
  box-shadow: 0px 1px 2px #371a1a;
  color: #212121;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
}
#home .download .buttons a img {
  margin-top: 19px;
}
#home .download .buttons a strong {
  display: block;
}
#home .download .buttons a p {
  margin: 0;
  font-size: 80%;
  font-style: italic;
}
#home .download .buttons a:hover {
  background-color: #ce0400;
  color: #fff;
}
#home .download .buttons a + a {
  margin-left: 20px;
}
#home .download .buttons .cr img {
  margin-bottom: 5px;
}
#home .download .buttons:after {
  clear: both;
  content: ' ';
  display: table;
}
#home .clonk {
  position: absolute;
  left: 400px;
  bottom: 30px;
}
#home .screenshots {
  width: 380px;
  height: 306px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
#home .screenshots ul {
  list-style-type: none;
  padding-left: 0;
  width: 350px;
}
#home .screenshots li {
  display: inline-block;
  width: 97px;
  height: 58px;
  overflow: hidden;
  border: 4px solid #212121;
}
#home .screenshots img {
  position: relative;
}

/* Impressum */
#impressum {
  position: relative;
}
#impressum .uberspace {
  position: absolute;
  top: 67px;
  left: 250px;
}
