/* Shared Mixins */

// Styles usually applied to the body, extracted for other pages such as the
// league and the forum.
main-styles() {
  font-family: Arial, sans-serif
  font-size: 16px
  line-height: 24pt
  color: #212121
}
