// Snow effect!

.snow {
  background-image: url('/images/snow/snow1.png'), url('/images/snow/snow2.png'), url('/images/snow/snow3.png')
  animation: snowy 20s linear infinite
}

@keyframes snowy {
  0%   { background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% { background-position: 500px 1000px, 300px 300px, 400px 400px; }
}
