/* Comics */

@import "nib"

#comic {
  text-align: center

  nav {
    .dummy {
      display: inline-block
      width: 30px
    }
  }

  .archive {
    text-align: left
    ol {
      column-count: 3
      li {
        margin-left: 2em
      }
    }
  }
}
