/* Community */

@import "nib"

.content {
  position: relative
}

.imgborder {
  border: 1px solid grey;
}

#quota {
  width: 306px
  relative: top 0px
  background-color: #dddddd
  border: dashed 1px silver
  /*border-top-left-radius: 10px
  border-bottom-left-radius: 10px*/
  border-radius: 10px
  padding-top 0px
  padding-left: 30px
  padding-right: 30px
  padding-bottom: 15px
}

#projects {
    position: relative
    background-color: blue
    margin-top: 30px
}

.bigproject {
  absolute: top 450px
  width: 384px
  height: 384px
  background: black
}

.bigproject2 {
  width: 384px
  height: 384px
}

.smallproject1 {
  width: 258px
  absolute: top 42px left 400px
  background-color: green
}

.smallproject2 {
  width: 258px
  absolute: top 42px left 688px
  background-color: yellow
}

.smallproject3 {
  width: 258px
  absolute: top 442px left 400px
  background-color: green
}

.smallproject4 {
  width: 258px
  absolute: top 442px left 688px
  background-color: yellow
}

#Spotlight {
  absolute: top -30px left 430px
}

#externalLinks {
  relative: top 1020px left 384px
}

ul {
  padding 0px
  margin 0px
  width: 100px
}

li {
  padding-left: 0px
  display: inline
}

#externalLinks{
  
  a:link, a:visited {
    display: block
    font-weight: bold
    color: black
    background-color: rgba(200, 200, 200, 0.5)
    width: 274px
    text-align: center
    padding: 14px
    text-decoration:none
    margin-bottom: -2px
  }  
  a:hover, a:active {
  transition:.2s;
  background-color: #434343
  }
}

