/* Community */

@import "nib"

.imgborder {
  border: 1px solid grey;
}

#quota {
  background-color: #f4f4f4
  absolute: top 0px left 720px
  z-index: 10
  border: dashed 1px silver
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  top: 225px
  padding-top 0px
  padding-left: 30px
  padding-right: 30px
  padding-bottom: 15px
}

#projects {
    position: relative
}

#project1 {
  width: 305px
}

#project2 {
  width: 305px
  position: absolute
  top: 0
  left: 335px
}

#Linksection {
  margin-top: 87px
  position: relative
}

#Spotlight {
  width: 305px
}

#externalLinks {
 position: absolute
 top: -16px
 left: 630px
}

ul {
  padding 0px
  margin 0px
  width: 100px
}

li {
  padding-left: 0px
  display: inline
}

/*.iconlist
{
margin: 0;
padding: 0;
}

li.clonkde {
  background-image: url(../images/community/icons/clonkde.png);
  background-repeat: no-repeat;
  padding: 0px 0 20px 20px;
}*/

#externalLinks{
  
  a:link, a:visited {
    display: block
    font-weight: bold
    color: black
    background-color: rgba(228, 228, 228, 0.5)
    width: 274px
    text-align: center
    padding: 14px
    text-decoration:none
    margin-bottom: -2px
  }  
  a:hover, a:active {
  transition:.2s;
  background-color: #434343
  }
}

