/* Community */

@import "nib"

.content {
  position: relative
}

.imgborder {
  border: 1px solid grey;
}

#quota {
  width: 530px
  absolute: top 0px left 384px
  background-color: #dddddd
  border: dashed 1px silver
  /*border-top-left-radius: 10px
  border-bottom-left-radius: 10px*/
  border-radius: 10px
  padding-top 0px
  padding-left: 30px
  padding-right: 30px
  padding-bottom: 15px
}

#projects {
    position: relative
    width: 305px
}

#Spotlight {
  absolute: top 320px left 384px
  width: 305px
}

#externalLinks {
  absolute: top 820px left 384px
}

ul {
  padding 0px
  margin 0px
  width: 100px
}

li {
  padding-left: 0px
  display: inline
}

/*.iconlist
{
margin: 0;
padding: 0;
}

li.clonkde {
  background-image: url(../images/community/icons/clonkde.png);
  background-repeat: no-repeat;
  padding: 0px 0 20px 20px;
}*/

#externalLinks{
  
  a:link, a:visited {
    display: block
    font-weight: bold
    color: black
    background-color: rgba(200, 200, 200, 0.5)
    width: 274px
    text-align: center
    padding: 14px
    text-decoration:none
    margin-bottom: -2px
  }  
  a:hover, a:active {
  transition:.2s;
  background-color: #434343
  }
}

