#games {
  background-color: #3a3a3a

  .game-list {
    a {
      height: 112px
      display: -webkit-flex
      display: flex
    }

    img {
      width: 150px
    }

    .game-info {
      padding-left: 16px
    }

    h2, p {
      margin: 0.5em 0
    }

    p {
      line-height: 18px
    }

    .running {
      opacity: 0.7

      img {
        -webkit-filter: grayscale(100%)
        filter: grayscale(100%)
      }

      &:not(.lzb) {
        cursor: not-allowed
      }
    }

    .fa-lock {
      display: none
    }
    .pw .fa-lock {
      display: inline-block
      margin-left: 0.5em
    }
  }

  .status {
    padding: 0 30px
    color: white

    p {
      margin: 0
      font-size: 12px
    }

    > i {
      display: none
      float: right
      margin-top: 0.5em
    }

    for status in '.connecting' '.connected' '.disconnected' {
      &{status} {status} {
        display: block
      }
    }

  }
}
