#games {
  .game-list {
    a {
      // Fix collapsing margins.
      padding-top: 1px
      padding-left: 16px
    }

    p {
      line-height: 18px
    }

    .running {
      opacity: 0.7

      &:not(.lzb) {
        cursor: not-allowed
      }
    }

    .fa-lock {
      display: none
    }
    .pw .fa-lock {
      display: inline-block
      margin-left: 0.5em
    }
  }
}
