@import "nib"

#Timeline {
  relative: top -22px
  width: 946px
  margin: 0px auto
  background-image: red  
}

#Header {
  position: relative
}

#Splash {
  width: 300px
  absolute: left 690px top 20px
}

#Gif {
  absolute: top 61px left 210px
}

#Shorttext {
  margin-top: -30px
  width: 620px
}

#GraphicsPic {
  width: 200px
  absolute: top 23px
}

#ScriptPic {
  width: 200px
  relative: top 23px left 420px
}

#GraphicsText {
  absolute: top 0px
  left: 215px
  width: 405px
}

#ScriptText {
  absolute: top 15px
  width: 405px
}

#Graphics {
  width: 620px
  height: 200px
  position: relative
}

#Script {
  width: 620px
  height: 200px
  position: relative
}

#Chat {
  width: 620px

  h2 {
    cursor: pointer
  }
}

#Sidebar {
  margin-top: 45px
  width: 250px
  absolute: right 0px top -42px
  background-color: #E9DDD1
  border-style: solid
  border-width: 12px 12px 12px 12px 
  border-image: url(/images/dev/border.png) 12 12 12 12 fill repeat

  background-image: url(/images/dev/sidebarbg.png)
  background-repeat: no-repeat;
  background-position: 0 100%;


  li {
    margin: 0px
  }

  ul, li { 
    list-style: none
    padding: 0px
  }
}

.buttonsidebar {
  display: inline-block
  margin: 5px
  padding: 6px 20px
  text-align: center
  border-radius: 5px
  box-shadow: 0px -1px 0px 0px #49322a, 0px 2px 0px 0px #f5f1ec
  background-color: #916453
  z-index: 2

  a:link, a:visited, a:active {
    text-transform: uppercase
    font-size: 12px
    font-weight: 700
    color: white
    text-shadow: 1px 1px 1px #20130e;
    border-bottom: 0px
  }

  &:hover {
    background-color: #87d969
    box-shadow: 0px -2px 0px 0px #f5f1ec, 0px 1px 0px 0px #49322a
    transition: all 0.2s ease-out
    -webkit-transition: all 0.2s ease-out
  }
}

#Tutorials {
  margin-left: 15px
}
