@import "nib"

#Timeline {
  relative: top -22px
  width: 946px
  margin: 0px auto
  background-image: red  
}

#Header {
  position: relative
}

#Splash {
  width: 300px
  absolute: left 30px top 18px
}

#Sidebar {
  padding-left: 30px
  padding-right: 30px
  width: 250px
  absolute: right 0px top -42px
  background-color: #E9DDD1
  border-style: solid
  border-width: 12px 12px 12px 12px 
  border-image: url(/images/dev/border.png) 12 12 12 12 fill repeat
 }

#Dev {
  width: 620px
  background-color: green
}

#Graphics {
  width: 305px
  position: relative
  background-color: red
}

#Script {
  absolute: left 345px top 100px
  width: 305px
  background-color: purple
}