@import "nib"

#Timeline {
  relative: top -22px
  width: 946px
  margin: 0px auto
  background-image: red  
}

#Sidebar {
  padding-left: 30px
  padding-right: 30px
  background-color: yellow
  width: 270px
  absolute: right 0px top -42px
}

#Dev {
  width: 650px
  background-color: green
}